name: Tests

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Poetry
        run: |
          pip install poetry

      - name: Install dependencies
        working-directory: cli-taskmanager
        run: |
          poetry install

      - name: Run tests
        working-directory: cli-taskmanager
        run: |
          poetry run pytest -v src/cli_taskmanager/tests
